name: Create tag and release
on:
  push:
    branches:    
      - 'master'

jobs:
  create-tag:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 
        uses: actions/checkout@v3
      - name: set up env var
        run:  echo "TAG=v1.0.$(date '+%Y%m%d')" >> $GITHUB_ENV
      - name: Create Tag  
        uses: rickstaa/action-create-tag@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ env.TAG }}
          message: "${{ env.TAG }} release"
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ env.TAG }}
          release_name: Release ${{ env.TAG }}
          draft: false
          prerelease: false    
